* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #040720;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p {
    color: #777;
}

.header {
    display: flex;
    position: relative;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    padding: 60px 3%;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.Logo {
    font-size: 1.7em;
    user-select: none;
}

.Logo h2,a {
    font-weight: 700;
    color: #fff;
}

.Logo span {
    color: #3090C7;
}

.Navbar-links {
    list-style-type: none;
}

.Navbar-links li {
    display: inline-block;
    padding: 0px 40px;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
}

.Navbar-links a {
    color: white;
    transition: all .3s ease 0s;
}


.Navbar-links a:hover,
.Navbar-links a.active {
    color: #3090C7;
}



.Profile-Icon {
    font-size: 2.3em;
    position: relative;
}

.Profile-Icon a {
    color: white;
    transition: all .3s ease 0s;
}

.Profile-Icon a::after {
    content: '';
    height: 3px;
    width: 0;
    background: #3090C7;
    box-shadow: 0px 0px 1px #3090C7;
    border-radius: 5px;
    position: absolute;
    bottom: -5px;
    right: 0%;
    transition: .4s;
}

.Profile-Icon a:hover,
.Profile-Icon a.active {
    color: #3090C7;
}

.Profile-Icon a:hover::after {
    color: #3090C7;
    width: 100%;
    left: 0;
}

.Front-Page {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,139,0.25), rgba(0,0,0,139.25)), url(../images/raouche2.jpg);
    background-size: cover;
    background-position: center;
}


.Front-Page-Content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.Front-Page-Content h1 {
    font-size: 80px;
    margin-top: 80px;
    font-weight: 1000;
}

.Front-Page-Content p {
    margin: 20px auto;
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 25px;
    color: #fff;
    font-size: 1em;
}


.Front-Page-Content button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #3090C7;
    background: transparent;
    backdrop-filter: blur(10px);
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    position: relative;
    overflow: hidden;
}

.Front-Page-Content button:hover span {
    width: 100%;
}

.Front-Page-Content button:hover {
    border: none;
}

.Front-Page-Content span {
    background: #3090C7;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: .5s;
}


@media only screen and (max-width: 893px) {
    .Front-Page-Content h1 {
        font-size: 30px;
        margin-top: 80px;
        font-weight: 1000;
    }
}


.Services {
    width: 100%;
    margin: auto;
    padding: 0 50px;
    text-align: center;
    padding-top: 100px;
    background-color: #fff;
}


.Services h1 {
    font-size: 36px;
    font-weight: 600;
}


.Services p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}


.Row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.Services-Col h3 {
    color: #000;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    margin: 10px 0;
}

.Services-Col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .4s;
}

.Services-Col:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 20%);

}




@media only screen and (max-width : 1064px) {
    .Row {
        flex-direction: column;
    }

}



.Facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color: #040720;
}

.Facilities h1 {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

.Facilities p {
    color: #777;
}



.Facilities-Col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}

.Facilities-Col p {
    color: #fff;
    margin-top: 15px;
    font-style: italic;
}

.Facilities-Col h3 {
    color: #fff;
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
}

.Beach-Image {
    background-image: url(../images/lala.png);
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
}

.Hotel-Image {
    background-image: url(../images/hotelfacilities.jpg);
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
}

.Food-Image {
    background-image: url(../images/food.jpg);
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
}


.Food-Image:hover, .Beach-Image:hover, .Hotel-Image:hover {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 80%);
}




.Reviews {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}


.cta {
    margin: 100px auto;
    width: 80%;
    background-image: url(../images/nature.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    padding: 100px 0;
}

.cta:hover {
    box-shadow: 0 0 20px 0 #3090C7;
}

.cta h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

.cta button {
    background-color: transparent;
    backdrop-filter:blur(2px);
    border: 1px solid white;
    border-radius: 20px;
    height: 50px;
    width: 170px;
    font-size: 1.07em;
    font-weight: bold;
    line-height: 25px;
    color: #fff3f3;
    cursor: pointer;
    transition: .5s;
    text-align: center;
}

.cta button:hover {
    background-color: green;
}
  

@media only screen and (max-width : 700px) {
    .cta h1 {
        font-size: 24px;
    }

    .Beach-Image {
        height: 300px;
        width: 100%;
    }
    
    .Hotel-Image {
        height: 300px;
        width: 100%;
    }
    
    .Food-Image {
        height: 300px;
        width: 100%;
    }
}


@media only screen and (max-width : 1280px) {
    .Facilities {
        width: 100%;
    }
}
  
  
  
  
  