* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.Navbar-Header {
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: 100px;
  padding: 0 2rem;
  color: #fff;
}

.Navbar a {
  margin: 0 2rem;
  color: #fff;
  font-size: 1.2em;
  transition: .6s;
  letter-spacing: 2px;
}

.Navbar a:hover {
  color: #3090c7;
}

.Navbar-Header .Nav-Button {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.Profile{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: 1s;
    transform: translateX(100%);
    backdrop-filter: blur(50px);
    z-index: 10000;
}

.Profile_Screen {
  position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: 1s;
    transform: translateX(0%);
    background-color: #3090c7;
    z-index: 10000;
}


.Profile-Button {
  font-size: 2.5em;
  background: none;
  border: none;
  color: #fff;
  transition: .6s;
}

.Profile-Button:hover {
  color: #3090c7;
}

.Profile-Button-Close {
  color: #fff;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  z-index: 100000;
  background: none;
  border: none;
  transition: .6s;
}


@media only screen and (max-width: 1064px) {
  .Navbar-Header .Nav-Button {
    visibility: visible;
    opacity: 1;
  }

  .Navbar-Header .Navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: 1s;
    transform: translateY(-100vh);
    backdrop-filter: blur(50px);
    z-index: 10000;
  }

  .Navbar-Header .Responsive_Nav {
    transform: none;
  }

  .Navbar .Nav-Close-Button {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .Navbar a {
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 100px;
  }

  .Navbar a::after {
    content: '';
    width: 0%;
    height: 5px;
    background: #3090c7;
    display: block;
    margin: auto;
    transition: .5s;
  }

  .Navbar a:hover::after {
    width: 100%;
  }


}
.Profile-Photo img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
}


.Profile-Div {
  position: absolute;
  top: 5%;
}

.Info {
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.NAME {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}









