* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background: transparent;
    border: 5px solid #3090c9;
    padding-bottom: 30px;
    width: 500px;
    height: 700px;
    border-radius: 25px;
    /* position: relative; */
    justify-content: center;
    align-items: center;
}

.Login-Text {
    /* border: 1px solid black; */
    height: 70px;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    position: relative;
}

.Login-Text h2 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
}


.Underline-Signup {
    position: absolute;
    height: 3px;
    background-color: #3090c9;
    display: flex;
    width: 100%;
    margin: 10px 0%;
    animation: slide-Signup 2s 1;
}

.Input-Box {
    /* position: absolute; */
    margin: auto;
    width: 100%;
    margin-top: 20px;
    /* margin-left: 15px; */
    display: flex;
    flex-direction: column;
    /* border: 2px solid yellow; */
    align-items: left;  

}


.FirstName-LastName {
  /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: -10px;
    gap: 30px;
}


.FLInput{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid #3090c9;
    display: flex;
    background: #eaeaea;
    border: none;
    font-size: 1.1em;
    font-weight: 300;
    margin-top: 5px;
    padding: 7px;
    color: black;
}


h3 {
    color: #fff;
    font-size: 1.3em;
    font-weight: 400;
}
.Age-Box {
    margin-top: -20px;
    margin-left: 70px;
}

.Age-Box input {
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid #3090c9;
    display: flex;
    align-items: center;
    background: #eaeaea;
    border: none;
    font-size: 1.1em;
    font-weight: 300;
    margin-top: 5px;
    padding: 5px;
}


.Date-Box input {
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid #3090c9;
    display: flex;
    background: #eaeaea;
    border: none;
    font-size: 1.1em;
    font-weight: 300;
    margin-top: 5px;
    padding: 5px;
    color: black;
}


.Email-Box {
    margin-top: 10px;
    /* border: 2px solid yellow; */
    position: relative;
}

.Password-Box {
  margin-top: 10px;
  position: relative;
}

.Email-Input {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: 2px solid #3090c9;
    display: flex;
    align-items: center;
    margin: auto;
    background: #eaeaea;
    border: none;
    font-size: 1.1em;
    font-weight: 300;
    margin-top: 5px;
    padding: 5px;
    color: black;
}

.Password-Input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #3090c9;
    display: flex;
    background: #eaeaea;
    border: none;
    font-size: 1.1em;
    font-weight: 300;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
    color: #000;
}


.Email-Icon {
    display: flex;
    position: absolute;
    right: -10%;
    top: 23%;
    font-size: 28px;
    align-items: center;
    justify-content: center; 
    color: white;
}

.Password-Icon {
    display: flex;
    position: absolute;
    right: -10%;
    top: 33%;
    font-size: 28px;
    align-items: center;
    justify-content: center; 
    color: white;
}


.Login-Button-Box {
    display: flex;
    position: relative;
    border-radius: 15px;
    text-align: center;
    margin: 5% 0;
}




.Login-Button-Box button {
    animation: borderCycle 5s infinite;
    height: 70px;
    width: 170px;
    background-color: transparent ;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 1.6em;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
    transition: .5s;
}

.Login-Button button:hover {
    background-color: #3090c9;
    color: black;
}


@keyframes borderCycle {
    0% {
      border-color: #3090c9; /* Red */
    }
    25% {
      border-color: transparent; /* Green */
    }
    50% {
      border-color: #3090c9; /* Blue */
    }
    75% {
      border-color: transparent; /* Magenta */
    }
    100% {
      border-color: #3090c9; /* Back to Red */
    }
  }


  .Login-Link {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
  }


  .Login-Link p {
    font-size: .9em;
    color: #fff;
    font-weight: 400;
  }

  .Login-Link-reference {
    font-size: .9em;
    font-weight: 400;
    font-style: italic;
    transition: .4s;
  }

  .Login-Link-reference:hover {
    color: #3090c9;
    margin-left: 3px;
  }


  @keyframes slide-Signup {
    0% {
      width: 0%;
    }
    10% {
      width: 10%;
    }
    20% {
      width: 20%;
    }
    30% {
      width: 30%;
    }
    40% {
      width: 40%;
    }
    50% {
        width: 50%;
    }
    60% {
        width: 60%;
    }
    70% {
        width: 70%;
    }
    80% {
        width: 80%;
    }
    90% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
  }


@media only screen and (max-width : 868px) {
    .Login-Text h2 {
      font-size: 1.8em;
    }

    .container {
      width: 100%;
      height: 600px;
    }
    .FirstName-LastName {
      flex-direction: row;
    }

    .FirstName-LastName h3 {
      color: #fff;
      font-size: 1em;
      font-weight: 400;
    }

    .FLInput {
      height: 35px;
      width: 120px;
      font-size: 1em;
    }

    .Date-Box h3 {
      font-size: 1em;
    }

    .Date-Box input {
      height: 35px;
      font-size: 1em;
      width: 120px;
    }

    .Email-Input {
      height: 35px;
      width: 90%;
      float: left;
      font-size: 1em;
    }

    .Password-Input {
      height: 35px;
      width: 90%;
      font-size: 1em;
    }

    .Email-Icon {
      right: 0;
      font-size: 25px;
    }

    .Password-Icon {
      right:0%;
      font-size: 25px;
    }

    .Login-Button-Box button {
      height: 60px;
      width: 140px;
      font-size: 1.1em;
    }

    .Login-Button-Box {
      display: flex;
      position: relative;
      border-radius: 15px;
      text-align: center;
      align-items: center;
      justify-items: center;
  }
  
}

