* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #040720;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.header {
    display: flex;
    position: relative;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    padding: 60px 3%;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.Logo {
    font-size: 1.7em;
    user-select: none;
}

.Logo h2,a {
    font-weight: 700;
    color: #fff;
}

.Logo span {
    color: #3090C7;
}

.Navbar-links {
    list-style-type: none;
}

.Navbar-links li {
    display: inline-block;
    padding: 0px 40px;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
}

.Navbar-links a {
    color: white;
    transition: all .3s ease 0s;
}


.Navbar-links a:hover,
.Navbar-links a.active {
    color: #3090C7;
}



.Profile-Icon {
    font-size: 2.3em;
    position: relative;
}

.Profile-Icon a {
    color: white;
    transition: all .3s ease 0s;
}

.Profile-Icon a::after {
    content: '';
    height: 3px;
    width: 0;
    background: #3090C7;
    box-shadow: 0px 0px 1px #3090C7;
    border-radius: 5px;
    position: absolute;
    bottom: -5px;
    right: 0%;
    transition: .4s;
}

.Profile-Icon a:hover,
.Profile-Icon a.active {
    color: #3090C7;
}

.Profile-Icon a:hover::after {
    color: #3090C7;
    width: 100%;
    left: 0;
}

.Front-Page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 6px solid #fff;
    border-radius: 5%;
    margin-top: 150px;
    margin-left: 100px;
    padding: 10px 15px;
    align-items: flex-start;
}

.Front-Page:hover {
    border: 6px solid #87CEFA;
}

.Front-Page h1 {
    font-size: 3em;
    font-weight: 700;
    color: #87CEFA;
    text-transform: uppercase;
}

.Front-Page h2 {
    font-size: 6em;
    color: #87CEFA;
}

.Front-Page span {
    color: #3090C7;
}


.Front-Page p {
    color: #87CEFA;
    font-size: 2em;
}
.Front-Page h3{
    color: #87CEFA;
    font-size: 1em;
    padding-top: 2em;

}

  
  
  
  
  
  