* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.Navbar-Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 2rem;
  color: #fff;
}

.Navbar a {
  margin: 0 2rem;
  color: #fff;
  font-size: 1.2em;
  transition: .6s;
  letter-spacing: 2px;
}

.Navbar a:hover {
  color: #3090c7;
}

.Navbar-Header .Nav-Button {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}


@media only screen and (max-width: 1064px) {
  .Navbar-Header .Nav-Button {
    visibility: visible;
    opacity: 1;
  }

  .Navbar-Header .Navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: 1s;
    transform: translateY(-100vh);
    backdrop-filter: blur(50px);
    z-index: 10000;
  }

  .Navbar-Header .Responsive_Nav {
    transform: none;
  }

  .Navbar .Nav-Close-Button {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .Navbar a {
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 100px;
  }

  .Navbar a::after {
    content: '';
    width: 0%;
    height: 5px;
    background: #3090c7;
    display: block;
    margin: auto;
    transition: .5s;
  }

  .Navbar a:hover::after {
    width: 100%;
  }






}