.section-white {
    padding: 70px 0;
    display: flex;
    justify-content: space-between; /* To evenly space the containers */
    width: 100%;
}
.container{
    flex: 1;
    max-width: 50%;
}
.container-wrapper {
    display: flex;
    width: 100%;
    background: none
  }
.custom-h3{
    text-align: center;
    color: #3090C7;
    font-family: 'Poppins';
    font-size:x-large;
}
.team-item{ 
    background-color: #3090C7;
    text-align: center;
    margin: 5rem; /* space between l containers */
    padding: 60px 20px;
    border-radius: 25px;
    height: 400px;
    width: 400px;


}
.team-item:hover{
    background-color: #1593db;
}